/finalized_negative.npy
/06_02_25_sh.npy
/blank.npy
/12_03_25_test.npy
/FOR_TESTING.npy
/06_02_25_tired.npy
/08_04_NOMORE.npy
/finalized_positive.npy
/test_test_test.npy
/why_is_error.npy
/actual_workshop_preference/
/example_app/
/Workshop_0_pref_w/
/actual_workshop_preference/
